# Ignore Git history (can be massive)
.git/
.gitignore

# Ignore ALL virtual environments
venv/
env/
insightstream-venv/

# Ignore Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Local Environment variables (Security Risk!)
.env
.env.local

# Ignore locally downloaded models or temp files
*.bin
*.pth
*.onnx
downloads/
models/
data/